Package: lightddns
Version: __VERSION__
Architecture: __ARCH__
Maintainer: duakc <young@qeee.net>
Section: net
Priority: optional
Homepage: https://lightddns.duaky.com
Depends: adduser
Description: Lightweight dynamic DNS (DDNS) updater
 lightddns watches your public/local IP through pluggable datasources
 (HTTP echo, netlink, command) and pushes changes to DNS providers such as
 Cloudflare, Aliyun and Tencent Cloud.
