*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

vendor/

# Go workspace file
go.work
go.work.sum

*.ignore

# Other
config.d/
build/
bin/
site/
.wrangler/
.cache/
.direnv/

*.secret.go
*.secret_test.go

.DS_Store
