*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.venv/
.direnv/

# Editor/IDE
.idea/
.vscode/

*.ignore

# Ai
CLAUDE.md
skills/
hooks/
.claude/

# Other
config.d/
build/
bin/
site/
.wrangler/
.DS_Store/
.cache/